*{
  border: 0;
  margin: 0;
  padding:0;
}

/*==========================================================
------------------/ fuentes  
============================================================ */

@font-face {
  font-family: 'poppinsregular';
  src: url('../fuentes/poppinsregular.woff2') format('woff2'),
  url('../fuentes/poppinsregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsbold';
  src: url('../fuentes/poppinsbold.woff2') format('woff2'),
  url('../fuentes/poppinsbold.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}

.enlace {
  list-style: none; 
}

a{
  text-decoration:none;   
}

h1{
  color: white;
  font-family: 'poppinsbold';
  font-size: 82px;
  margin: 0;
  padding: 0;
}
/* #exampleModal{
    transform: translateX(-180px);  
}  */
.swiper-slide > .todo{
  width:500px;
  display:flex;
  margin-left:10px; 
}

h2{
  color: white;
  font-family: 'poppinsregular';
  font-size: 52px;
}

h3{
  color: white;
  font-family: 'poppinsregular';
  font-size: 17px;
} 
.modal-title{
  color:#000;
}
/* sets the link to the width of the entire panel title */
/* .panel-title > a {
  display: block;
} */
.todo{
  text-align: left;
}
.serpaqtextos{
  color:black;
}
 
/*==========================================================
------------------/ Container Principal  
============================================================ */
.container-ppal{ 
  background-color:rgb(14, 14, 14);
  width: 100%; 
  height: auto; 
  min-width: 319px; 
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  align-items: center;  
}
 
.btn-scroll{
  cursor: pointer;
}

.header-ppal{
  width: 95%; 
  height: 7em; 
  position: fixed; 
  top:0px; 
  display: block; 
  z-index: 100; 
}

.header-ppal > div{
  background:#000;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
} 

.header-logo{
  
  display: flex;
  width:130px; 
  height:100%; 
  background-image:url('../img/logobarber.png');
  background-size:85%; 
  background-repeat: no-repeat; 
  background-position: center; 
   
}

.logo{  
  width: 130px;
  height:110px;
}

.imgbaner{
  margin:0em auto;
  width: 1300px;
  height: 600px;;
}

.header-menu{

  width:calc(100% - 170px); 
  height: 100%; 
}

.header-menu > ul
{  
  width:100%;
  height:100%;
  display:flex; 
  /*flex-direction:row;*/ 
  justify-content:flex-end; 
  align-items:center; 
}

.header-menu > ul > li > a{
display: block; 
margin: 2px; 
padding: 10px 10px 10px 10px; 
font-family:'poppinsregular'; 
font-size:13px; 
display:flex; 
/*flex-direction:row;*/
justify-content: center; 
align-items: center; 
color: #FFFFFF;
border-bottom: solid 1px #000;
transition: border .5s ease;
letter-spacing: 1pt; 
text-align: center; 
cursor: pointer; 
}

.header-menu > ul > li > a:hover{
 border-bottom:solid 1px #BBA73A;
 text-decoration:none;
}
 
.header-btnMenuResponsive{
  display:none; 
  height: 100%;
  width: calc(100% - 0px); 
}

.header-btnMenuResponsive > div{ 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.header-btnMenuResponsive > div > section{ 
  width: 50px;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.header-btnMenuResponsive > div > section > figure{
  width: 35px;
  height: 3px;
  margin: 2px;
  border-radius: 1px;
  background-color: #6F6B70;
}
 
.txtShadow{
  text-shadow: 1px 1px 1px #000; 
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #6E6A6F;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/*==========================================================
------------------/ Slider 
============================================================ */
.container-slider{
  width: 95%; 
  height:100vh; 
  overflow: hidden;  
  position: relative; 
}

 .swiper-slide {
  border:1px solid #000;
  background-position:center;
  background-size:cover;
  display:flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  
} 
.swiper-slide > h1{
  line-height: 65px; 
  margin:5px; 
}

.swiper-slide > h2 > span{  
  font-family: 'poppinsbold' !important;
}

.swiper-slide > h2{
  line-height: 50px;
}

.swiper-slide > h3{
  margin-bottom: 180px;
}

.swiper-slide > h3 > button{
  border: none;
  padding: 5px 35px 5px 35px;
  background-color: white;
  font-size: 12px;
  color: #6f6b70;
  font-family: 'poppinsregular';
  letter-spacing: 1pt;
  cursor: pointer;
  margin: 10px;
}

.swiper-slide > iframe{  
  width: 100%;
  height: 100%;
}

.swiper-slide > iframe a{ 
  display: none !important;
}

.space{ 
  width:100%;
  height:7em;
}

.space_min{
  width:100%;
  height:2em;
}

/* Container-tittle*/
.container-tittle{  
  width:100%;
  height:auto;
  display:flex;
  flex-direction:column; 
  justify-content:center;
  align-items:center;
  color:#6F6B70;
}

.container-tittle__tittles1{ 
  color:#FFFFFFFF;
  width: 500px;
  height: 4em;
  margin: 0 auto; 
  display: block;
  font-family: 'poppinsregular';
  cursor: pointer;
  margin: 20px; 
  font-size: 35px; 
  text-align: center;
   
}

.colorTittle{
  color: #BBA73A !important;
  font-family: 'poppinsbold'
}
 
.colorMora{
  color: #FFFFFF !important;
  font-family: 'poppinsbold' !important;
  letter-spacing: 1pt;
} 
 
.bc-negro{ 
 /* background-color: #000;*/
}
  
/*==========================================================
------------------/ Container sec  
============================================================ */
.container-sec{
 
  width:95%;
  height:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

.container-sec > section{ 
  width:318px;
  height:400px;
  margin:10px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  position:relative;
   overflow: hidden; 
}

#container-membresia{
  background-image:url('../img/especialidad1.jpg');
 /* max-width: 100%; */
}

#container-seremp{
  background-image:url('../img/maquillaje.jpg');
}

#container-servdo{
  background-image:url('../img/planchado.jpg');
}

.container-animate__down{  
  width:100%;
  height:100%;
  position:absolute;  
  bottom:-100%;  
}

.container-animate__down > section{ 
  width: 100%;
  height: 100%;
  position:relative;
  background-color:rgba(0,0,0,0.6); 
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.container-NameServ{  
  width:260px;
  height:2em ;
  display:block;
  position: absolute; 
  top:-2em; 
  margin:0em auto; 
  text-align:center; 
  line-height:40px;
  border-radius:5px 5px 0px 0px;
  background-color:#EF0478;
  color:white;
  font-family:'poppinsregular';
  font-size:20px;
}

.backgroundNMV{
  background-color: #FF59C7FF;
}
.container-membresia__tittle{  
  color:white;
  font-family:'poppinsregular';
  font-size:22px;
}
 
.container-membresia__text{ 
  color:white; 
  font-family:'poppinsregular'; 
  font-size:14px;
  line-height:25px; 
  width:80%; 
  height:auto;
  text-align:center; 
  margin-top:10px; 
  line-height:18px;
}

/*==========================================================
------------------/ Container title  
============================================================ */
.container-sec_2{
  width:95%;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}
.container-tittle{ 
  width:100%;
  height:auto; 
  display:flex;
  flex-direction:column; 
  justify-content:center;
  align-items:center;  
}
.container-tittle__tittles2{ 
  font-family: 'poppinsbold' !important;
  font-size:56px;
  text-align: center;
  color: #BBA73A; 
}

.container-tittle__text{ 
  color:#EABDFFFF;
  font-family:'poppinsregular';
  font-size:14px;
  margin-top:15px;
  text-align:center;
  width:100%;
}

/* Container-sec__ho*/
.container-sec_2{ 
  width:95%;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
/*.container-sec__ho{

  width:984px;
  height:100%;
  display:flex;
  direction-flex:column;
  justify-content:center;
  align-items: center;
}
 */
.container-sec_2 > section{
  width:95%;
  height:400px;
  margin:10px; 
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  overflow:hidden; 
}

#container-qsomos{
  background-image:url('../img/conocenos.jpg');
}

#container-mision{
  background-image:url('../img/mision.jpg');
}

#container-vision{
  background-image:url('../img/vision.jpg');
}

.container-ho2{ 
  width:100%;
  height:100%;
  display:flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.container-ho2 > section{
  width:380px;
  height:200px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin:10px;
  position:relative;
  cursor:pointer;
}

.container-ho2 > section > a{
  color:white;
  text-align: center;
  font-family:'poppinsregular';
  font-size:18px;
  line-height:22px;
  width:95%;
} 

/*==========================================================
------------------/ Modal 
============================================================ */
.ModalMax{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  display:none;
}

.ModalMax > div{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
} 

.container-ModalMin{
  background-color: white; 
  width: 760px;
  height: 310px;
  display: flex;
  position: relative; 
}

.container-ModalMin > figure{
  width: 280px;
  height:100%; 
  overflow: hidden;  
}

.container-ModalMin > figure > img{
  width: 280px; 
}

.btn_close, .btn-closeMGalery{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 5px; 
  top: 5px;
  background-image: url('../img/icono_cerrar.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.container-ModalMin > section{ 
  width: calc(100% - 280px);
  height: 90%;
  display: flex;
  flex-direction:column; 
  justify-content: center;
  align-items: center;
  /*background-image: url('../img/logodna_transparente.png');*/ 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.Modal2-title, .Modal2-precio{
  width: 85%; 
  /*height:auto;*/ 
  font-family: 'poppinsregular';
  text-align: center;
  font-size: 26px;
  color:#B218D8 !important;
  margin: 5px;
  display: flex;
  position:relative; 
  line-height:1.5em;
  justify-content: center;
  align-items: center;
}

.Modal2-precio{
  width: 95% !important;
}

.Modal2-text{ 
  color:white;
  width: 85%;
  height: 70%;
  overflow: auto; 
}

.Modal2-text >p{
  width: 100%;
  height: auto;  
  text-align:justify;
  margin-top: 10px;
  font-size: 14px !important;
  font-family: 'poppinsregular';
  color: #6F6B70;
}

.Modal2-text > section{ 
  width: 100%; 
  height: auto; 
  display:flex;
  flex-wrap:wrap; 
}

.Modal2-text > section > ul{
  /*background-color: teal;*/
  margin: 5px; 
  width: 180px;
  line-height:19px; 
}
.Modal2-text > section > ul > li{
  font-size: 14px;
  font-family: 'poppinsregular';
  color: #6F6B70; 
}

.title_Paquetes{
  font-size: 18px !important;
  color:#B12A84 !important;
} 

 
/*==========================================================
------------------/ Contacto 
============================================================ */

.container-map{
  width: 600px;
  margin: 10px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.map-basic{
  width: 450px;
  height: 318px;
  margin: 25px 0px 5px 0px;
}

.map-basic > iframe{
  width: 100%;
  height: 100%;
}

.contacto-info__tittle{
  width: 100%;
  text-align:center;
  font-family: 'poppinsregular';
  font-size: 12px;
  margin: 10px;
}

.contacto-info__text{
  width: 90%;
  text-align:center;
  font-family: 'poppinsregular';
  font-size: 14px;
  color: #6F6B70;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.derechos{
  color: white;
  font-weight: bold;
  font-size:12px;
  font-family: 'poppinsregular';
}

.container-footer{
  background-color:#6A2AFF; 
  width: 100%;
  height: 7em;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center; 
}

.footer-btn__flotante{
  width: 70px;
  height: 60px;
  background: #6A2AFF;
  position: absolute;
  bottom:110px;
  right:5px;
  border-radius:5px 5px 0px 0px; 
  background-image: url('../img/farriba.jpg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  cursor: pointer;
}

.btn-scroll{
  cursor: pointer;
}

.infoSolicitud{
  width: auto; 
  height: auto;
  position: fixed; 
  right:5px;
  bottom: 20px;
  z-index: 20; 
  display:none;
}

.infoSolicitud > div{
  width: 150px;
  height: 150px;
  border-radius:50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #FAFF89;
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding:1em;  ;
}

.infoSolicitud > div > span{
  padding: 2px 5px 1px 5px;
  text-align: center;
  font-family: 'poppinsregular';
  color:#5E5E5EFF;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1pt;
}
/*==========================================================
------------------/ Acordion con flechas
============================================================ */
.panel-heading .accordion-plus-toggle:before {
   
  font-family: FontAwesome;
  content: "\f077";
  float: right;
  color: #2f2e3a;
}
.panel-heading .accordion-plus-toggle.collapsed:before {
   
  content: "\f078";
  color: #2f2e3a;
}
.panel-title > a,.resultado-nombre{ 
  font-family: 'poppinsregular';
  font-weight: bold;
  font-size:16px;
  color:#2f2e3a;
}
.resultado-nombre{
  font-size:16px;
}
.panel-title a:hover{ 
  color:#2f2e3a; 
  text-decoration:none; 
} 
.panel{/*panel secundario para que pueda verse el scroll necesita ese ancho el panel*/ 
  width:350px; 
   
} 
.modal-content{/* Tamaños del contenido del modal*/
  min-width:800px;  
} 
.services-reserva{   
  width:340px;
}
.radios{ 
  font-family: 'poppinsregular';
  margin-left:10px;
  font-size:14px;
  color:#333333;
   
}
.precios{
  color:#757575;
  font-style:italic;
  margin-left:45px;
}
.precios-servicios{
  color:#757575;
  font-style:italic;
  margin-left:52px;
}
#ele1{
  width:390px;
}
.panel-group { /*se coloca el scroll  y a los 300px aparecera*/
    
  height:390px; 
  overflow-y:scroll;
}
.resultado{
  border: 1px solid #e9e9e9;
  min-height:304px;
  width:320px;
}
.direccion{
  color:#757575;
  font-style:italic;
   margin-left:45px; 
}
.icono-servicio{
  margin-top:25px;
  margin-left:14px;
  margin-right: 10px;
}
.service {
  width: 80px;
  height: 80px; 
  background-color: #6D435A;
  color: #fff;
  border-radius: 50px;
  margin: 5px;
  
}
.btn-radios{
  width:1em; 
  height:1em;
}
.alt{
  line-height:-4px;
}
#myTatb{
  width:400px;
}
 
/* =========================================================
-------------------/ Slider servicios
============================================================*/
 
.article-slider{
  width:390px;
}
.slider/*tiene dentro ele1 , panelgroup */
{
	width:420px;
	height:400px;
	float:left;
	overflow:hidden; 
}  
.s_element{
  position:relative;
  
	width:100%;
	height:100%;
	display:none;
} 
.s_visible
{
	display:block;
}
 
 
/* =========================================================
-------------------/ Slider personal
============================================================*/
.circulo {
  width: 70px;
  height: 70px;
  
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffdd80;
}
 
 
.nombre-detalles,.nombre-personal,.msjhoras,.nombre-fecha,.personal,.nombre-hora{
  font-family: 'poppinsregular';
  font-size:16px;
  font-weight: bold;
}
.cargo{
  font-size:14px;
  color:#757575;
  font-style:italic;
}
.img-personal{
  width:55px;
  height:66px;
}
.cualquiera{
  width:50px;
  height:60px;
}
/*=========================================================
---------------/ Slider Fechas 
=========================================================== */
.msjfechas{
  margin: 0em auto; 
  border:1px solid #e9e9e9;
   width:357px; 
  height:60px;
}
.panel-servicios{ /*Solo recorta el tamaño del div y coloca el scroll*/
  height:380px; 
  overflow:scroll; 
}
.detalles{ 
  margin-top:28px;
  width:380px;
   
  height:387px; 
  overflow:scroll; 
}
.alert{
  margin:0em auto;
  width:327px;
}
/*=========================================================
---------------/ Calendario
=========================================================== */ 
.clndr{ /*ancho del calendario*/
  width:356px;
}
.fecha-reserva ,.hora-reserva{
  margin-top:30px; 
  margin-left:15px;
}
  
.nombre-contacto{
  width:150px;
}
.email-contacto{
  width:225px;
}
.formulario{
  height: 380px;;
}
.notificacion{  
height:380px; 
overflow:scroll; 
}
.advertencia-covid{
  background:#F9F9FF;
}
.politica-cancelacion{
text-align:justify;
}
.cargando{ /* la capa de div interpuesta encima del modal y donde esta colocado el spinner*/
  
  margin-left:-1px; 
  background:rgb(255, 255, 255);
  position: absolute;  
  width:100%; 
  height:500px;
  z-index: 9999;
}
.spinner-border{
  margin-top:7em;
}
.labelcargando{/* es el label colocado a la altura del spinner*/
  position: absolute;
  bottom:12em;
}
.detalles-reservahecha{ 
  width:420px;
  height:500px;
}  
.msj-reservarealizada{
  background:peru;
  margin-left:1em;
  width:300px;
  height:500px;
}
.msj-correo{
   
  background:gold;
  width:270px;
  height:200px;
}
.mapa-reservahecha{
  
  background:rgb(195, 0, 255);
  width:270px;
  height:175px;
}
.listado{
  border:1px solid silver;
  width:375px;
  height:285px;
}
.fecha-reservahecha,.precio-reservahecha{
  margin-left: 10px;
  
} 
.hora-reservahecha{
  margin-left: 12px;
  
} 
.market-reservahecha{
  margin-left: 18px;
  
}
.txt-reservahecha{
  margin-left:40px;
  
}
.serv-reservahecha{
  margin-left:12px;
 
}
.personal-reservahecha{
  margin-left:14px;
 
}
 
.fecha-reservahecha,.precio-reservahecha,
.hora-reservahecha,.market-reservahecha,
.serv-reservahecha,.personal-reservahecha
 {
  font-family: 'poppinsregular';
  font-size:16px;
  font-weight: bold;
}
.label-saludo{
  font-family: 'poppinsregular';
  font-size:24px;
  font-weight: bold;
}
.label-agradecimiento,.txt-reservahecha{
  font-family: 'poppinsregular';
  font-size:16px;
  
}
 
/*==========================================================
------------------/ Responsive  
============================================================ */
@media only screen and (max-width: 920px){

  
  .swiper-slide{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    /* background-attachment: fixed; */
     
  }

  .header-ppal{
    width: 100%;
  }

  .header-menu{
    display: none;
  }

  .header-btnMenuResponsive{
    display: block;
  }

  .header-menu{
    width: 100%;
    position: absolute;
    top: 5em;
  }

  .header-menu > ul{
    height: auto;
    top: 4em; 
    flex-direction: column;
    background:#000;
  }

  .ModalMax > div > section{
    width: 670px;
    height: 280px;
  }

  .ModalMax-text__title{
    font-size: 45px;
  }

  .ModalMax-text__text{
    font-size: 14px;
  }

  .container-ModalMin{
    width: 640px;
  }

  #link-galeria{
    height: 350px !important;
  }

  #ModalGalery{
    width: 650px;
    height: 350px;
  } 
}

@media only screen and (max-width: 685px){
   
  iframe{
    width:400px;
    background:orange;
  }

  h1{
    font-size: 62px;
    text-align: center;
    width: 90%;
  }

  h2{
    font-size: 42px;
    width: 90%;
    text-align: center;
  }

  .swiper-slide > h3{
    margin-bottom: 100px;
    width: 90%;
    text-align: center;
  }

  .ModalMax > div > section{
    width: 425px;
    height: 250px;
  }

  .container-tittle__tittles1{
    width: 95% !important;
  }

  .container-tittle__tittles2{
    font-size: 42px;
  }

  .ModalMax-text__title{
    font-size: 35px;
    line-height: 28px;
  }

  .ModalMax-text__text{
    font-size: 12px;
    line-height: 15px;
  }

  .container-sec__ho > section > .container-animate__down >section >.container-NameServ{
    font-size: 18px;
  }

  .container-sec__ho > section > .container-animate__down >section >.container-membresia__text{
    font-size: 16px;
    line-height: 20px;
    width: 92%;
  }

  .container-ModalMin{
    width: 95%;
  }

  .container-ModalMin > figure{
    width: 200px;
  }

  .container-ModalMin > section{
    width: calc(100% - 200px);
  }

  .map-basic {
    width: 95%;
  }

  #link-galeria{
    height: 500px !important;
  }

  .galery_img{
    flex-direction: column !important;
  }

  .galery_img > a{
    width: 100%;
  }

  #ModalGalery{
    width: 450px;
    height: 250px;
  }

  .infoSolicitud > div > span{
    padding: 1px 1px 1px 1px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: normal;
  } 
}

@media only screen and (max-width: 440px){
  iframe{
    width:300px;
    background:orange;
  }
  .container-ModalMin{
    width: 98%;
  }
  .container-ModalMin > figure{
    /* width: 100px; */
    display: none;
  }
  .container-ModalMin > section{
    /* width: calc(100% - 100px); */
    width: 100%;
  }
  h1{
    font-size: 42px;
  }

  h2{
    font-size: 32px;
  }

  .swiper-slide > h3{
    margin-bottom: 90px;
  }

  .ModalMax > div > section{
    width: 318px;
  }

  .ModalMax-text__title{
    font-size: 28px;
  }

  .ModalMax-text__text{
    font-size: 10px;
  }

  .container-tittle__tittles3{
    font-size: 24px;
  }

  .container-form{
    justify-content: center;
    align-items: center;
  }

  .input-basic, .texare-basic{
    width: 240px;
    max-width: 240px;
    min-width: 240px;
  }

  .container-form__btn{
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .container-form__file{
    width: 270px;
    margin: 5px;
    height: 40px;
  }

  .btn-form{
    width: 270px;
    margin: 5px;
    height: 40px;
  }

  #Fondo-SeparteEquipo{
    background-size: contain;
    height: auto;
    padding-bottom: 50px;
  }

  .container-map{
    margin: 0px;
  }

  .email_txt{
    font-size: 15px !important;
  }

  .web_txt{
    font-size: 10px !important;
  }

  #ModalGalery{
    width: 316px;
    height: 200px;
  }

  .container-tittle__tittles1{
    font-size: 22px;
  }
  
  .Modal2-title{
    font-size: 22px;
  }
}

 